/*Fonts family*/
/* Colors */
/*Basic settings*/
html {
  font-style: 10px;
}
body {
  font-family: sans-serif;
  background-color: #f3f3f3;
}
body h5 {
  font-size: 1.8rem;
}
body span {
  font-size: 1.2rem;
}
.container {
  /*	background-color: @light;*/
}
.row {
  padding-top: none;
}
.row-header {
  background-color: #ebb258;
  padding: 4rem;
}
.row-content {
  background-color: #ffffff;
  padding: 2rem 3rem 0rem 3rem;
}
/*Typography*/
.cont {
  /*max-width: 45rem;*/
}
.main-header {
  background-color: #ebb258;
}
.main-header h2 {
  margin: 0px 0px;
  text-align: center;
  color: #ffffff;
  font-size: 2.5rem;
  display: inline-block;
}
.main-content {
  display: inline-block;
  background-color: #ffffff;
}
.main-content span {
  padding-bottom: 3rem;
  display: block;
}
.main-content p {
  text-align: left;
}
.row-min-width {
  min-width: 51rem;
}
.event {
  text-align: center;
}
.poll {
  text-align: left;
  background-color: #ffffff;
  display: inline-block;
}
.poll strong {
  color: red;
}
.poll img {
  /*			display: inline-block;
			margin-left: 5rem;*/
}
.poll-event {
  padding-top: none;
  min-width: 40rem;
}
.poll-event p {
  display: inline-block;
  padding: 0 1.5rem 0 1.5rem;
  font-size: 1.3rem;
}
.poll-event input {
  display: inline-block;
  min-width: 1.5rem;
  max-height: 1rem;
}
.poll-event-number {
  display: inline-block;
  padding-left: 2.7rem;
  padding-bottom: none;
}
.poll-event-number p {
  display: inline-block;
  font-size: 1.6rem;
  min-width: 1.5rem;
  margin-bottom: 0px;
}
.poll-radio {
  display: inline-block;
}
.poll-radio-number {
  padding-left: 17rem;
  min-width: 10rem;
}
.poll-radio-number p {
  display: inline-block;
  min-width: 5rem;
}
.poll-radio input {
  min-width: 5rem;
}
.poll-radio-span {
  font-size: 1.5rem;
  min-width: 14.5rem;
  display: inline-block;
}
.poll-question-div {
  display: block;
  text-align: center;
}
.poll-question-img-div {
  display: inline-block;
  padding-left: 8rem;
}
/*.submit-btn {
	display: block;
	text-align: center;
	background-color: @btn-color; 
}*/
.submit-popup {
  text-align: center;
  padding-bottom: 1rem;
}
.submit-button {
  display: inline-block;
  text-align: center;
  padding: 1rem 3rem;
  border-radius: 8px;
  background-color: #d6a81e;
  color: #ffffff;
  border: none;
  font-size: 1.2rem;
}
.submit-button:hover {
  cursor: pointer;
  background-color: #a98518;
}
.unsubscribe {
  min-width: 48rem;
  text-align: center;
  background-color: #f3f3f3;
}
.unsubscribe-link {
  color: #aaaaa8;
}
.unsubscribe-link:hover {
  color: #777775;
}
.text-input {
  border: none;
  border-bottom: 1px solid #aaaaa8;
  outline-color: #d6a81e;
  min-width: 25rem;
}
.text-input:focus {
  border: none;
  box-shadow: none;
}
/*Медиа-запросы*/
@media (max-width: 540px) {
  .unsubscribe {
    /*	min-width: 50rem;*/
  }
}
